*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", serif;
}

nav{
    height: 90px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    position: fixed;
    top: 0;
    background-color: #EFF8FF;
    z-index: 1;



    ul{
        display: flex;
        list-style: none;
        gap: 30px;

        li{
            font-weight: 500;
            color: #222222;
            cursor: pointer;
        }
    }

    .bars{
        display: none;
        border: none;
        background: none;
        .icon{
            height: 30px;
            color: #025595;
        }
    }

    .login{
        height: 38px;
        width: 135px;
        border-radius: 6px;
        background-color: #025595;
        color: #F5F5F5;
        border-style: none;
        font-size: 14px;
        cursor: pointer;
    }
    
}

.hero{
    height: 100vh;
    background-color: #EFF8FF;
    display: flex;
    flex-direction: column;
    padding-top: 122px;
    position: relative;

    .hero-background{
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .contentt{
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        padding-left: 70px;
        
        
    }
    h1{
        font-size: 60px;
        max-width: 500px;
        font-weight: 700;
        display: flex;
        padding-bottom: 20px;
        
        
    }
    
    .description{
        color: #22222280;
        max-width: 423px;
        font-size: 16px;
        display: flex;
        padding-bottom: 50px;
        
        
    }

    .apartment-info{
        display: flex;
        max-width: 866px;
        min-height: 100px;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 16px;
        background-color: rgb(255, 255, 255, 0.8);
        
        
        
        
        
        
        .cards{
            width: 100%;
            min-height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 58px;
            padding-right: 58px;
            position: relative;
            z-index: 2;
            

            .card{
                display: flex;
                align-items: center;
                

                .icon{
                    display: flex;
                    max-width: 214px;
                    height: 60px;
                    gap: 20px;
                    align-items: center;
                    
                    
        
                    .image{
                        width: 60px;
                        height: 60px;
                        background-color: rgba(2, 85, 149, 5%);
                        border-radius: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        
        
                        
                    }
    
                    .content{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
    
                        p{
                            color: #22222280;
                        }
                    }
                }
            }
            
        }


        
    }

}

#secOne{
    height: 100vh;
    
    .partTwo{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-left: 70px;
        padding-top: 94px;

        h1{
            font-size: 36px;
            font-weight: 700;

        }

        p{
            color: #22222280 ;
            font-weight: 400;
            font-size: 15px;
        }
    }
    
    .cards{
        display: flex;
        padding:94px 70px 0;
        
        .blue{
            background-color: #025595;
            h2{
                color: #FFFFFF;
            }
            #white{
                color: #FFFFFF;
            }
        }

        .card{
            width: 380px;
            height: 255px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 30px 40px 80px 40px;
            border-radius: 15px;

            h2{
                font-size: 22px;
                font-weight: 600;

            }

            p{
                font-size: 14px;
                font-weight: 400;
                color: #22222280;
            }

        }
    }
}

@media screen and (max-width: 992px){
    nav{
        padding: 0 20px;

        ul{
            display: none;
        }

        .login{
            display: none;
        }

        .bars{
            display: block;

        }
    }

    .hero{
        
        .hero-background{
            background-color: #EFF8FF;
            max-height: 448px;
            width: 100%;
            top: 429px;
            
            
            
        }
        
        .contentt{
            padding-left: 0;
            
            h1{
                font-size: 35px;
                width: 320px;
                padding-left: 20px;
                
            }
            .description{
                width: 294px;
                padding-left: 20px;
            }
            .apartment-info{
                border-radius: 0;
                
                

                .cards{
                    flex-direction: column;
                    width: 100%;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    gap: 24px;
                    justify-content: center;
                    
                }
            }
        } 
    }
}
@media screen and (max-width: 992px){
    #secOne{
        
        .partTwo{
            padding: 250px 20px 0;
            max-width: 320px;
            gap: 6px;
            h1{
                font-size: 30px;
            }
            p{
                font-size: 15px;
            }
            
        }
        .cards{
            flex-direction: column;
            padding-left: 20px;
            padding-right: 20px;
            align-items: center;
            min-width: 320px;
            gap: 20px;
        }
    }
    
}

    

    
